# Token de vérification que TU choisis toi-même (une phrase secrète au hasard)
# Tu la remets telle quelle dans le champ "Verify Token" sur Meta
VERIFY_TOKEN=reseau_pcm_ambolokandrina

# Le "Page Access Token" généré dans developers.facebook.com > Messenger > Paramètres
PAGE_ACCESS_TOKEN=EAARBnMOnRP0BSHEnXXytOXoZCHEAZAPpwq1GoNkvu0GOZCRyvnlCbkGQDqxgpnpKSTZC1wJ0xC63QzqtLdOggnZB7QnwHBkzpBpDwE8ZATQOYWfejfuOWQvhAGWRz2xxJxnpqzhFjBKpB4uRGWE6jdIScfEZAOslSAQe64xSZCaM1bDmFZA0x3NBiiymRolV5UaSTWj9UeAZDZD

# Token d'accès WhatsApp (Meta for Developers > WhatsApp > API Setup)
WHATSAPP_TOKEN=EAARBnMOnRP0BSKpPvFbcsh2JZBf0ZAV1QYi8fqSWy5EBgnwntKIkBskI42ejX4SrpCvYf3I7o9s1zL1aQVqVM6H0wWoLonsRjhSC81kJ2WVlDdYdwZB4u4ropEfIe0ZAJsvKJLm2PtZAeDDFZBt8BUFIwGJVSzF41pEtHIfdaYKms3ciFGbE46mv2D1wHk6wZDZD

# Phone Number ID WhatsApp (visible sur la même page, à côté du numéro de test)
WHATSAPP_PHONE_NUMBER_ID=1340274192495129

# Ta clé API Groq GRATUITE (console.groq.com > API Keys)
GROQ_API_KEY=GROQ_API_KEY=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

# Port du serveur (par défaut 3000)
PORT=3000
